@model IEnumerable<BusinessAccessLayer.ExpencesType>

@{
    ViewBag.Title = "ExpenceType";
}

<h2>ExpenceType</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenceTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenceType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenceTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenceType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
